doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    script(src='/js/jquery/jquery.js')
    script(src='/js/bootstrap/bootstrap.js')
  body
    block content