extends layout

block content
    h1= title
    script.
        var error = '#{error}';
    if error
        p Error: #{error}
    form(id="signup", method="POST", action="/user/signup")
        div
            label(for='username') User Name
            input(type='text', name='username')
        div
            label(for='password') Password
            input(type='password', name='password')
        div
            label(for='password') Confirm password
            input(type='password', name='password-confirmation')
        div
            input(type="submit", value="Log In")