extends layout

block content
    if username
        script
            | var user = '#{username}';
        div( style='text-align:right')
            a(href='/user/logout') Logout
        p Welcome #{username}
        br
        br
        if address
            div
                p Address: #{address}
            div
                form(name='refresh_address', action='/user/refresh_address', method='post')
                    input(type='hidden', name='username', value='#{username}')
                    input(type='submit', value='Refresh address')

    else
        p No user
        p
            a(href='/user/login') Login
        p
            a(href='/user/signup') Signup
