extends layout

block content
    if username
        script
            | var user = '#{username}';
        div( style='text-align:right')
            a(href='/logout') Logout
        p Welcome #{username}
        br
        br
        if address
            div
                p Address: #{address}

    else
        p No user
        p
            a(href='/login') Login
        p
            a(href='/signup') Signup
